$color_1: white;
$color_2: #212529;
$color_3: #6c757d;
$color_4: #0d6efd;
$color_5: -webkit-link;
$color_6: #198754;
$color_7: #727272;
$font-family_1: sans-serif;
$font-family_2: "Playfair Display", Georgia, "Times New Roman", serif;
$font-family_3: var(--bs-font-sans-serif);
$font-family_4: "Times New Roman", Times, serif;
$font-family_5: arial;
$background-color_1: #fff;
$background-color_2: #212529;
$background-color_3: white;
$background-color_4: #6c757d;
$background-color_5: #dee2e6;
$background-color_6: #f8f9fa;
$background-color_7: #f9f9f9;
$border-color_1: grey;
$border-color_2: #dee2e6;
$border-color_3: inherit;
$border-color_4: #0d6efd;
$border-color_5: #6c757d;

body {
	margin: auto;
	font-size: 1rem;
	font-family: $font-family_1;
	font-weight: 400;
	background-color: $background-color_1;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scrollbar-highlight-color: transparent;
	line-height: 1.5;
	margin-top: 0%;
	padding-left: 0px;
	padding-right: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	overflow-x: hidden;
}
.container {
	width: 85%;
	margin: auto;
	width: 85%;
	margin: auto;
}
.banner {
	background-color: $background-color_2;
	color: $color_1;
	text-align: start;
	border-radius: 7px;
	width: 100%;
	margin: auto;
    &__content {
        width: 50%;
        padding: 20px;
        margin: 20px 0;
    }
    &__title {
        font-family: $font-family_2;
        font-size: 50px;
        font-weight: bold;
        font-style: italic;
        line-height: 60px;
    }
    &__paragraph {
        font-family: $font-family_3;
        font-style: normal;
        font-size: 17px;
        font-weight: normal;
    }
    &__continue {
        font-weight: bold;
        color: $color_1;
        text-decoration: underline;
    }
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-top: 0;
	margin-bottom: 1rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.blog__heading {
	text-decoration: underline;
	text-align: center;
	font-family: $font-family_4;
	color: $color_2;
	font-size: 2.25rem;
}
.link {
	color: $color_3;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: underline;
}
.blog__searchsignup {
	display: flex;
	flex-direction: row;
}
.link1 {
	padding-right: 20px;
	color: $color_3;
}
.blog__signup {
	border-radius: 0.3rem;
	padding: 7px;
	font-size: 0.896rem;
	color: $color_3;
	background-color: $background-color_3;
	border-width: 0.1rem;
	padding-right: 10px;
}
.nav__navigation {
	display: flex;
	justify-content: space-between;
}
.head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.cards {
	font-size: 1rem;
	font-family: $font-family_1;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 1.5;
	display: flex;
	justify-content: space-between;
}
.cardthumbnail {
	font-size: 1rem;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 1.5;
	box-shadow: 0 5px 5px 0 grey;
	width: 100%;
	margin: auto;
	margin-right: 10px;
	text-align: start;
	font-family: $font-family_5;
	border-radius: 10px;
	display: flex;
	border-color: $border-color_1;
}
.card {
	width: 100%;
	padding: 20px;
    &__head1 {
        color: $color_4;
    }
    &__title {
        font-family: $font-family_2;
        font-style: initial;
        font-size: 20px;
        line-height: 1px;
    }
    &__date {
        color: $color_3;
    }
    &__head2 {
        color: $color_6;
    }
}

a {
	&:-webkit-any-link {
		color: $color_5;
		cursor: pointer;
		text-decoration: underline;
	}
}
.thumbnail {
	background-color: $background-color_4;
	width: 55%;
	padding: 50px;
	text-align: center;
	border-radius: 0px 10px 10px 0;
}

.body {
	display: flex;
}
.bodyhead1 {
	font-style: italic;
	border-bottom: 1px solid #dee2e6;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 550;
	margin-top: 1.2;
	line-height: 1;
	font-size: 28px;
}
.post__head {
	margin-bottom: 2.5px;
	font-size: 33px;
	font-weight: bolder;
    &__date {
        margin-bottom: 1.25rem;
        color: $color_7;
    }
    &__head2 {
        font-size: 26px;
        font-weight: bolder;
        line-height: 30px;
    }
    &__blockquote {
        font-size: 20px;
        font-weight: 100;
    }
    &__table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
        border-color: $border-color_2;
        caption-side: bottom;
        color: $color_2;
        width: 100%;
        margin-bottom: 1px;
        vertical-align: top;
    }
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: $border-color_3;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: $border-color_3;
}
.navbutton {
    &__old,
    &__new {
      background-color: transparent;
      padding: 10px 20px;
      border-radius: 2rem;
      border-width: 1px;
      font-weight: bold;
    }
  
    &__old {
      background-color: $background-color_5;
      border-color: $border-color_4;
      color: $color_4;
    }
  
    &__new {
      background-color: $background-color_3;
      border-color: $border-color_5;
      color: $color_3;
    }
  }
  
.details {
	padding-right: 0px;
	padding-left: 50px;
	margin-top: 50px;
}
.about {
	border-radius: 0.25rem;
	background-color: $background-color_6;
	padding: 1.5rem;
	margin-bottom: 1rem;
	padding-right: 80px;
	background-size: 100px;
    &__head {
        font-style: italic;
        font-size: 23px;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 900;
        line-height: 1.2;
    }
}

.archieve__list {
	list-style: none;
	line-height: 25px;
	text-align: start;
	padding-left: 0px;
}
.blog-footer {
	padding: 2.5rem 0;
	color: $color_7;
	text-align: center;
	background-color: $background-color_7;
	border-top: 0.05rem solid #e5e5e5;
}
